<ion-view view-title="About">
        <ion-content class="padding">
          <h1>Artificial Generation:</h1>
                            <p>We are living in the technological age. The pace of innovation increases exponentially. We have access to information like never before, and are increasing our efficiency and productivity like no other time in history. ARTIGEN recognizes this and is poised to leverage these advancements to create an even greater advantage for us all.</p><br />
                            <h1>Articulate Generation</h1>
                            <p>This refers to the human’s ability to communicate with machine….or rather, the machine’s ability to fully understand the human. Unlike current keyword-based programming, our customer uses free expression to communicate with their devices in fully-formed sentences. Using Natural Language Processing (NLP) and through proactive questions to clarify understanding, our vPAL™ technology will learn its user’s particularities of speech and communication and be able to serve the user’s needs like never before. Not only will vPAL™ understand, but it will respond to the user in fully articulated sentences that will closely simulate human dialogue.</p><br />
                            <h1>Artificial Genetics</h1>
                            <p>This describes the thrilling concept of transferring a human’s ‘genetics’ (EQ) to the machine. By analyzing thousands of hours of biometric data our system grasps and catalogs the user’s habits and preferences. Through this data an understanding of the user’s philosophy, psychology, and behavior will be ascertained. These ‘genetics’, so to speak, will be used proactively to anticipate and maximize our service to the user, and can possibly remain long into the future as a lasting legacy to the individual.</p>
            
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
          </p>
        </ion-content>
      </ion-view>